/* General*/

body{
	font-family:Abel;
	line-height:1.4;
	color:#000000
}

/*Header*/
header{
	padding:1.5rem 5%;
    background-color:#FFC107;
}

.logo h1{
	font-family: 'Pacifico', serif;
	font-size: 2rem;
	color:#FF5722;
}

/* MAIN CONTENT */
.menu a{

	padding: 3rem 5%;
}

main h1{
	font-family: 'Pacifico', serif;
	font-size: 3rem;

}

.col-left img{
	width:50%;
}

.ingredients ul{
	margin: 0;
	padding:0;
	list-style: none;
}
.ingredients li{
	padding: .5rem 0;
	border-top: 1px dotted#BDBDBD;

}

footer{
	padding: 1.5rem 5%;
	background-color: #bdbdbd;
}

footer p{
	margin:0;
	color:#757575;
}

footer a{
	text-decoration: none;
	font-family: 'Abel';
	color: #ffffff;
	background-color: #757575;
}
/*Main Content*/

/*color/*

#FFC107
#FF5722